@keyframes animatedBackground {
    from {background-position: 0 0;}
    to {background-position: 100% 0;}
}

.page-break {
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-LOnaIvaE5gGLX867mqfq8uQupXoAAD7eGuBNqYIGGKZ7Zuq7JZlno1ylUc8VZkh4c44&usqp=CAU");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    height: 25px;
    width:auto
}

.train {
    background-image: url("ezgif.com-gif-maker.gif");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    animation: animatedBackground 30s linear infinite;
    width: auto;
    height: 70px;
}

.nav-link {
    color: antiquewhite;
}

.container-fluid {
    background-color: black;
    color: white;
}

.bg-1 { 
    color: black;
  }

h3 img {
      border-radius: 50%;
      background-position: center;
      background-color: black;
  }

h2 {
    font-family: 'Pacifico', cursive;
}

h3 {
    position: relative;
  }

h4 {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    padding-left: 25%;
    color: antiquewhite;
 }

p {
      color:antiquewhite;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
  }

  /* #grad1 {
    background-image: url("raining.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: black;
    font-size: larger;
    text-shadow: blanchedalmond;
  }

  .container-flex {
    background:url("rainbow.jpg"), linear-gradient("raining.jpg"), ;
    background-size:cover;
    background-repeat: no-repeat; */

    /* #grad1_image {
      margin:0 auto;
      width:100vw;
      height:100vw;
      transition: background-image 1s ease-in-out;
      background-image:url("raining.jpg");
    }
    
    #grad1_image:hover {
      background-image:url("https://i.pinimg.com/originals/3b/63/48/3b63482726f9d69e48413e2d902eecce.jpg");
      background-repeat:no-repeat;
      height: 100vw;
      width: 100vw;
      background-color:#3EDAF2 ;
    } */
